
@{
    ViewBag.Title = "Index";
}

<div style="text-align:center">
    <img src="~/Image/Image.png" height="400" width="400" />
</div>
<p class="pull-left">
    <b> About</b>
</p>
<br />
<hr />
<div>
    <p>
        Qbytesoft is a software development company in Bangladesh

        We have a professional team with great developers and designers.We delivering Software services , Mobile & Web app , Logo Design, Band Design, Print Design (Banner,Flyer,Brochure etc). We are located in Uttara,Dhaka, Bangladesh.Now we have a team with 5+ skilled members.
        We are working for all sizes companies from small startups to large enterprise at any distance.Our team operates with enthusiasm and flexibility. We are focused on our customers, being their reliable partner for IT services and solutions, working together on a partnership basis, helping them face the challenges of the modern times.
        We are looking forward to be your best IT partners.
    </p>
</div>